@model IEnumerable<Meal>

<div class="text-center">
    <ul>
        @foreach (var item in Model)
        {
            <li calss="meal-list">
                @item.Name
                @item.Description
                @item.MealType
                @item.ConsumptionDate
                @item.Recipe.Name
                @item.Recipe.Description
                <a href="/home/update?ID=@item.Id">Update</a>
                <a href="/home/delete?ID=@item.Id">Delete</a>
            </li>
        }
    </ul>
    
</div>
